.slider-section {
    height: 1000px;
    background: url("/image/jumbo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;

    .slider-container {
        padding: 75px 25px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .slider-top {    

            .col-12 {

                .input-search {
                   background: #FFF;
                    border-radius: 40px;
                    padding: 10px 0;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;

                    .search-space {
                        border-right: 1px solid #DDD;
                        height: 32px;
                    }
                    input {
                        border: 0;
                    }
                    input[type="date"]::-webkit-inner-spin-button {
                        display: none;
                        -webkit-appearance: none;
                    }
                    .search-button {
                        background: #FF385C;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .slider-bottom {
            .col-12 {
                display: flex;
                align-items: center;
                div {
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;

                    .index-button {
                        background: #FFF !important;
                        padding: 15px 30px;
                        border-radius: 50px;

                        span {
                            font-size: 18px;
                            font-weight: bold;
                            background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

.recommended-section {

    h1 {
        margin: 35px 0 10px 0;
    }
    .recommended-top {

        .recommended-city-card {
            margin: 5px 0;
            padding: 0;

            .recommended-city-pfp {
                width: calc(40% - 2.5px);
                display: inline-block;
                margin-right: 5px;

                img {
                    max-width: 100%;
                    border-radius: 15px;
                }
            }
            .recommended-city-details {
                width: calc(60% - 7.5px);
                display: inline-block;
                height: 100%;
            }
        }
    }
    .recommended-bottom {

        .recommended-filters {
            margin: 5px 0;

            .recommended-filters-pfp {

                margin-bottom: 10px;
                img {
                    max-width: 100%;
                    border-radius: 15px;
                }
            }
        }
    }
}

.owner-section {
    background-image: url("/image/owner.jpg");
    background-size: cover;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 9px 7px 2px #BBB;

    .owner-details {
        color: #FFF;

        .details-container {

            button {
                border: 0;
                border-radius: 10px;
                padding: 10px 20px;
                font-weight: bold;
            }
        }
    }
}

footer {
    background:#F0F0F0;

    .footer-top {
        padding: 50px 0 25px 0;
        .container {

            .row {

                .col-4 {
                    ul {
                        line-height: 40px;
                        list-style: none;

                        h6 {
                            font-weight: bold;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        border-top: #000 solid 1px;

        .row {
            display: flex;

            .ft-bottom-left {
                display: flex;

                ul {
                    display: flex;
                    list-style: none;

                    li {
                        margin-right: 10px;
                    }
                }
            }
            .ft-bottom-right {
                display: flex;
                justify-content: flex-end;

                div {
                    margin-right: 15px;
                }
                .footer-language {
                    text-decoration: underline;
                }
                .footer-currency {

                    span:last-child {
                        text-decoration: underline;
                    }
                }
                .footer-social {
                    display: flex;

                    .black-block {
                        width: 18px;
                        height: 18px;
                        background: #000;
                    }
                }
            }
        }
    }
}
