.indexContainer {
    margin: 0 80px;

    #indexNav {
        height: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        ul {
            list-style-type: none;
            display: flex;
            margin-bottom: 0;
            padding-left: 0;

            li {
                margin-right: 25px;

            }
        }

        .filters {
            display: flex;
            position: relative;

           .time, .guests, .other {
                padding: 10px 15px;
                margin-left: 10px;
                border: 1px solid #ccc;
                border-radius: 30px;
                cursor: pointer;
            }

            .modal.show {
                inset: 0px !important;

                .modal-dialog{
                    position: absolute;
                    padding: 5px;
                    width: 45vw;

                    .modal-header {
                        position: relative;
                        justify-content: center;
                        border-bottom: none;

                        .close {
                            position: absolute;
                            top: 16px;
                            right: 16px;
                        }
                    }

                    .modal-body {
                        text-align: center;
                    }

                    &.duration {
                        top: 120px;
                        right: 300px;
                    }

                    &.guest {
                        top: 120px;
                        right: 200px;
                    }

                    &.filter.dark {
                        position: static;
                        width: 50%;
                        max-width: unset;
                    }
                }


            }
        }
    }

    #indexContent {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .links {

        .pagination {
            justify-content: center;
        }
    }
}

.modal-backdrop {
    background-color: #fff !important;

    &.show {
        opacity: 0 !important;
    }
}
