nav {

    background-color: white;
    padding: 6px 16px;

    .navbar-collapse {
        justify-content: space-between;

        .img-container {
            width: 160px;
            padding-right: 6px;
            padding-top: 6px;
    
            img {width: 100%;}
        }
    
        .nav-item {
            color: #ff385c;
            font-size: 18px;
            padding: 0 6px;
            font-weight: bold;

            a {
                color: #ff385c;
                font-weight: bold;
                font-size: 18px;

                &:hover {
                    text-decoration: none;
                    font-weight: normal;

                }
            }

        }
    }

}