nav {

    background-color: white;
    padding: 12px 24px;

    .navbar-collapse {
        justify-content: space-between;

        .img-container {
            width: 170px;
            padding-right: 6px;
            padding-top: 6px;
    
            img {width: 100%;}
        }
    
        .nav-item {
            color: black;
            font-size: 18px;
            padding: 0 6px;
        }
    }

}