
.show-container {
    color: #FFF;
    background: #1B1B1B;
    display: flex;
    padding: 60px 0;
    flex-direction: column;

    .show-box {
        border-radius: 10px;
        box-shadow: 9px 7px 2px #424242;
        padding: 25px;

        .show-gallery {

            .col-12 {
                --gap: 16px;
                --num-cols: 4;
                --row-height: 200px;
                padding: var(--gap);

                display: grid;
                grid-template-columns: repeat(var(--num-cols), 1fr);
                grid-auto-rows: var(--row-height);
                gap: var(--gap);

                .show-pics {

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }
                .image-grid-col-2 {
                    grid-column: span 2;
                }
                .image-grid-row-2 {
                    grid-row: span 2;
                }
                @media screen and (max-width: 1024px) {
                    .image-grid {
                      --num-cols: 2;
                      --row-height: 100px;
                    }
                }
            }
        }
        .bio {
            .bio-right {
                display: flex;
                justify-content: flex-end;
                
                div {
                    border: 1px solid #FFF;
                    border-radius: 10px;
                    padding: 15px;
                }
            }
        }
        .show-maps {
                
            .col-12 {

                .map-div {
                    width: 100%;
                    height: 500px;
                    border: 1px solid #FFF;
                    border-radius: 10px;

                    .mapboxgl-popup {
                        color: black !important;
                    }
                }
            }
        }
    }
}