// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';

@import 'homepage';
@import 'navbar';
@import 'createView';
@import 'footer';
@import 'statistics';
@import 'editView';
@import 'dashboard';


a {
    color: black;
}

.pointer {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}
